<strong> Recuperando Senha </strong>

<p>Foi enviado um solicitação de recuperação de senha pelo e-mail ({{ email }}). Se você não foi o autor desta solicitação é necessario que você mude sua senha para sua segurança.</p>

<p>Para Continuar utilize o token {{ token }} ou clique no link abaixo </p>

<a href="{{ link }}">Criar nova senha</a>
